 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  margin: 15px;
}

#intro {
  margin-top: 15px;
  margin-bottom: 30px;
}

#fav {
  display: inline;
}

#album {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

#yee {
  display: inline;
}

.album {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.faded {
  opacity: 0.4;
}